In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
x = 20
x

20

In [5]:
uri = '../../Samples/Loan payments data.csv'
df = pd.read_csv(uri)
df.head()

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female

In [8]:
df.describe().round()

       Principal  terms  past_due_days    age
count      500.0  500.0          200.0  500.0
mean       943.0   23.0           36.0   31.0
std        115.0    8.0           29.0    6.0
min        300.0    7.0            1.0   18.0
25%       1000.0   15.0            3.0   27.0
50%       1000.0   30.0           37.0   30.0
75%       1000.0   30.0           60.0   35.0
max       1000.0   30.0           76.0   51.0

In [15]:
df.columns

Index(['Loan_ID', 'loan_status', 'Principal', 'terms', 'effective_date',
       'due_date', 'paid_off_time', 'past_due_days', 'age', 'education',
       'Gender'],
      dtype='object')

In [17]:
df.dtypes

Loan_ID            object
loan_status        object
Principal           int64
terms               int64
effective_date     object
due_date           object
paid_off_time      object
past_due_days     float64
age                 int64
education          object
Gender             object
dtype: object

In [19]:
df.isnull().sum()

Loan_ID             0
loan_status         0
Principal           0
terms               0
effective_date      0
due_date            0
paid_off_time     100
past_due_days     300
age                 0
education           0
Gender              0
dtype: int64

In [23]:
df.education.unique()

array(['High School or Below', 'Bechalor', 'college', 'Master or Above'],
      dtype=object)

In [29]:
df.due_date = pd.to_datetime(df.due_date, format='%m/%d/%Y')
df.effective_date = pd.to_datetime(df.effective_date, format='%m/%d/%Y')
# df.due_date = pd.to_datetime(df.due_date, format='%m/%d/%Y')
# df.past_due_days = pd.to_datetime(df.past_due_days, format='%m/%d/%Y')

In [31]:
df.dtypes

Loan_ID                   object
loan_status               object
Principal                  int64
terms                      int64
effective_date    datetime64[ns]
due_date          datetime64[ns]
paid_off_time             object
past_due_days            float64
age                        int64
education                 object
Gender                    object
dtype: object

In [34]:
df.loan_status.unique()

array(['PAIDOFF', 'COLLECTION', 'COLLECTION_PAIDOFF'], dtype=object)

In [36]:
df.columns

Index(['Loan_ID', 'loan_status', 'Principal', 'terms', 'effective_date',
       'due_date', 'paid_off_time', 'past_due_days', 'age', 'education',
       'Gender'],
      dtype='object')

In [39]:
df2 = df.drop(columns=['paid_off_time', 'past_due_days', 'effective_date', 
                      'due_date', 'Loan_ID'])
df2.head()

  loan_status  Principal  terms  age             education  Gender
0     PAIDOFF       1000     30   45  High School or Below    male
1     PAIDOFF       1000     30   50              Bechalor  female
2     PAIDOFF       1000     30   33              Bechalor  female
3     PAIDOFF       1000     15   27               college    male
4     PAIDOFF       1000     30   28               college  female

# I just realized that we have no "Target columns" ( or no output 
# whether that loaner get loan or not ??? )
### so i pause this project and learn later with unsupervisor-learning