In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
X = df.drop(columns='species')
y = df.species

# Cross validation

In [13]:
from sklearn.svm import SVC, SVR # not use svr(egression)
from sklearn.model_selection import cross_val_score
model = SVC(kernel='linear')
cvs = cross_val_score(model, X, y, cv=10)
print('cross value score : {}' . format(cvs.round(3)))
print('mean (%) = {:.3f}' . format(cvs.mean() * 100))

cross value score : [1.    0.933 1.    1.    0.867 1.    0.933 1.    1.    1.   ]
mean (%) = 97.333

### If cvs is high like this no need to evaluate model anymore

In [21]:
model = SVC(kernel='poly', degree=4, gamma='auto')
model = SVC(kernel='rbf')
model.fit(X, y)

X_to_pred = np.array([[4, 4, 3, 2], 
                     [5, 2, 1, 2]])
print(model.predict(X_to_pred))

['versicolor' 'setosa']

/home/liberio/miniconda3/lib/python3.8/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(